.single-item{
    border-radius: 11px;
    box-shadow: 4px 4px 4px #8080808a;
    background:white;
    /* padding:20px; */
    flex: 1 1 25%;
    margin:20px;
}
.inner-container.d-flex {
    display: flex;
    flex-wrap: wrap;
}
.inner-container.d-flex .single-item{
    text-align: center;
    /* padding:100px; */
}